/.idea
/social_network/media
/social_network/social_network/.env
/social_network/core/static/core/fontawesome-free-6.2.1-web/svgs/brands
/social_network/core/static/core/fontawesome-free-6.2.1-web/svgs/regular
/social_network/core/static/core/fontawesome-free-6.2.1-web/svgs/solid2