 {% csrf_token %}
 {% for m in messages %}

            	{% if m.from_user == request.user %}
              <div class="d-flex flex-row justify-content-start">
                <div style="width: 40px; height:40px">
            		<img src="{{ request.user.profile.get_avatar }}" class="img-fluid rounded-circle" style="object-fit: cover;width:100%;height:100%">
            	</div>
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ m.text }}</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">{{ m.pub_date|date:"j b H:i Y" }}</p>
                </div>
              </div>
              {% else %}

   	
              <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ m.text }}</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ m.pub_date|date:"j b H:i Y" }}</p>
                </div>
                <div style="width: 40px; height:40px">
            		<img src="{{ m.from_user.profile.get_avatar }}" class="img-fluid rounded-circle" style="object-fit: cover;width:100%;height:100%">
            	</div>
              </div>

             	{% endif %}

{% endfor %}