{% extends 'core/Network/profile/base_pr.html' %}


{% block content %}
<div class="row">

		<!-- col col-xl-4 col-lg-4 col-md-7 col-sm-12 col-12 -->
		<div class="block">
		<div class="block-img-ava">
			<img src="{{ profile.get_avatar }}" class="img-fluid img-list">

	<!-- Button trigger modal -->
<div class="btn-group w-100">
{% if not are_friends %}
	{% if request_rejected %}

				  <button type="button" class="btn btn-info my-3 w-100">Ваша заявка была отклонена</button>
				  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split my-3" data-bs-toggle="dropdown" aria-expanded="false">
				  <span class="visually-hidden">Toggle Dropdown</span>
				  </button>
				  	<ul class="dropdown-menu">
				    <li><a class="dropdown-item" href="{% url 'core:repeat_request' profile.slug %}">Отправить повторно</a></li>
				    <li><a class="dropdown-item" href="{% url 'core:request_delete' profile.slug %}">Отменить заявку</a></li>
		  		</ul>

	{% elif friend_request %}

		  <button type="button" class="btn btn-info my-3 w-100">Заявка отправлена</button>
		  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split my-3" data-bs-toggle="dropdown" aria-expanded="false">
		  <span class="visually-hidden">Toggle Dropdown</span>
		  </button>
		  	<ul class="dropdown-menu">
    		<li><a class="dropdown-item" href="{% url 'core:request_delete' profile.slug %}">Отменить заявку</a></li>
  		</ul>

	{% elif reject %}

				  <button type="button" class="btn btn-info my-3 w-100">Вы отклонили заявку</button>
				  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split my-3" data-bs-toggle="dropdown" aria-expanded="false">
				  <span class="visually-hidden">Toggle Dropdown</span>
				  </button>
				  	<ul class="dropdown-menu">
		    		<li><a class="dropdown-item" href="{% url 'core:accept_friend' profile.slug %}">Принять</a></li>
		  		</ul>


	{% elif reverse_request %}

		  <button type="button" class="btn btn-info my-3 w-100">Вам отправлена заявка в друзья</button>
		  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split my-3" data-bs-toggle="dropdown" aria-expanded="false">
		  <span class="visually-hidden">Toggle Dropdown</span>
		  </button>
		  	<ul class="dropdown-menu">
    		<li><a class="dropdown-item" href="{% url 'core:accept_friend' profile.slug %}">Принять</a></li>
    		<li><a class="dropdown-item" href="{% url 'core:reject_friend' profile.slug %}">Отклонить</a></li>
  		</ul>


	{% else %}

		  <a type="button" class="upload_ava btn w-100 my-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Отправить заявку в друзья</a>
		  <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split my-3" data-bs-toggle="dropdown" aria-expanded="false">
		  <span class="visually-hidden">Toggle Dropdown</span>
		  </button>
		  	<ul class="dropdown-menu">
	    		<li><a class="dropdown-item" href="{% url 'core:block_user' profile.slug %}">Заблокировать</a></li>
  			</ul>



<!-- 		<a type="button" class="upload_ava btn w-100 my-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	  Отправить заявку в друзья
	</a>
 -->
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="staticBackdropLabel">Заявка в друзья</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Вы действительно хотите отправить заявку в друзья?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
	        <a href="{% url 'core:following' profile.slug %}" type="button" class="btn btn-primary">Отправить</a>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}

{% else %}

  <button type="button" class="btn btn-info my-3 w-100">У вас в друзьях</button>
  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split my-3" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'core:delete_friend' profile.slug %}">Удалить из друзей</a></li>
  </ul>


{% endif %}

</div>
<a href="{% url 'chat:create_chat' profile.user.id %}" class="btn btn-primary w-100" type="button">Написать сообщение</a>
</div>
</div>




	<div class="col col-xl-4 col-lg-5 col-md-5 col-12 pt-1 mx-2">
					<ul class="list-group list-group-flush d-flex">
							{% if profile.user.first_name %}
							<li class="list-group-item">Имя: {{profile.user.first_name}}</li>
							{% else %}
							<li class="list-group-item">Имя: не указано</li>
							{% endif %}
							{% if profile.user.last_name %}
					 		<li class="list-group-item">Фамилия: {{ profile.user.last_name }}</li>
					 		{% else %}
					 		<li class="list-group-item">Фамилия: не указана</li>
					 		{% endif %}
					 		{% if profile.get_age %}
							<li class="list-group-item">Возраст: {{ profile.get_age }}</li>
							<li class="list-group-item">Дата рождения: {{ profile.date_birthday }}</li>
							{% else %}
							<li class="list-group-item">Возраст: не указан</li>
							<li class="list-group-item">Дата рождения: не указано</li>
							{% endif %}
							{% if profile.bio %}
							<li class="list-group-item">Краткая информация о себе: {{ profile.bio|truncatechars:10 }}</li>
							{% else %}
							<li class="list-group-item">Краткая информация о себе: отсутствует</li>
							{% endif %}
							<li class="list-group-item">Дата создания: {{ profile.user.date_joined }}</li>

					</ul>
				
	</div>
	<div class="row my-3">
				<div class="col col-xl-7 bg-white p-0">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% for f in form %}
							{% if f.label != 'Пользователь' and f.label != 'Профиль' and f.label != 'Получатель поста' and f.label != 'Дата обновления' %}
								{{f}}
							{% endif %}
						{% endfor %}
				
						<input type="submit" class="btn btn-dark" name="" value="Опубликовать">
					</form>
				</div>
			</div>
</div>

<div class="row my-2">
					<div class="col">
					{% for post in posts %}
					<div class="row">
						<div class="col posts p-0 bg-white col-xl-7 py-3 border-bottom">
						<div class="container-fluid">
						<div class="row">
							<div class="col col-1">
								<div class="block-img-ava-post">
									<img src="{{post.profile.get_avatar}}" class="img-fluid img-list rounded-circle">
								</div>
							</div>
							
							<div class="col col-10">
								<a class="user-link nav-link" href="{{ post.profile.get_absolute_url }}">{{ post.user.first_name }} {{ post.user.last_name }}</a>
								{{post.date_created|date:"d M Y"}}
							</div>
			
							<div class="col col-1 d-flex justify-content-end">
											
								<div class="dropdown">
									  <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							          	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
										<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
										</svg>
									  </button>
									  <ul class="dropdown-menu">
									    <li><a class="menu dropdown-item" href="{% url 'posts:delete_post' post.pk %}">Удалить запись</a></li>
									  </ul>
								</div>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							{% if post.image %}
								<div class="block-img-post">
									<img src="{{post.get_photo}}" class="img-fluid img-list">
								</div>
							{% endif %}
						</div>

					<div class="row">
							<div class="col border-bottom">
								{{post.content}}
							</div>
						</div>

						<div class="row">
							<div class="col">

								{% for comment in post.comments.all %}
								<div class="row my-3 mx-3 border-bottom">
									<div class="col">
										<div class="row">
											<div class="col col-1">
												<div class="block-img-ava-comment">
													<img src="{{ comment.profile.get_avatar }}" class="img-fluid img-list rounded-circle">
												</div>
											</div>
											<div class="col col-9">
												<a href="{{ comment.profile.get_absolute_url }}" class="">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
												{{ comment.date_created|date:"j b H:i Y" }}
											</div>
										{% if comment.user == request.user %}
										<div class="col col-1 d-flex justify-content-end">
									        <div class="dropdown">
											  <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:none">
									          	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
												<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
												</svg>
											  </button>
											  <ul class="dropdown-menu">
											    <li><a href="{% url 'posts:delete_comment' comment.pk %}" class="dropdown-item">Удалить комментарий</a></li>
											  </ul>
											</div>
										</div>
										{% endif %}
											
										</div>
										<div class="row">
											<div class="col mx-3 my-2">
												{{ comment.comment }}
											</div>
										</div>
									<!-- </div> -->
									</div>
								</div>
								{% endfor %}
								<form method="post">
									<div class="row mx-3 my-3">
									
										{% csrf_token %}
										<input type="hidden" name="id" value="{{post.id}}">
										{% for f in comment_form %}
				
											{% if f.label != 'Пользователь' and f.label != 'Профиль' and f.label != 'Пост' %}
											<div class="col col-10">
												{{f}}
											</div>
											{% endif %}
										{% endfor %}
								
									<div class="col">
										<div class="button-submit" style="width:50px;">
											<button type="submit" class="btn d-flex justify-content-center w-100">
												<i class="fs-5 fa fa-reply comment d-flex justify-content-center"></i><span class="fs-4 ms-3 d-none d-sm-inline"></span>
											</button>
										</div>
									</div>
								</div>
								</form>
											</div>	
								</div>
								</div>
								</div>
								</div>
					{% endfor %}
				</div>
			</div>
					
					
				
			



{% endblock %}