{% extends 'core/Network/friends/base_friends.html' %}


{% block main %}


{% for user in blocked_users %}
		<li class="list-users list-group-item p-0">
			<img src="{{user.profile.get_avatar}}" class="img-profile" width="10%" height="100%">
			<a class="" href="{{ user.profile.get_absolute_url }}">{{ user.username|truncatechars:10 }}</a>
			 <div class="dropdown d-flex justify-content-end">
								  <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				                  	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
									<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
									</svg>
								  </button>
								  <ul class="dropdown-menu">
								    <li><a class="dropdown-item" href="{% url 'core:remove_block' user.profile.slug %}">Разблокировать пользователя</a></li>
								  </ul>
								</div>
		</li>
{% endfor %}
{% endblock %}